*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Marion";
  src: url("../fonts/Marion Regular/Marion Regulat.ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
body {
  background: url(../img/background.jpg) center/cover no-repeat;
  font-family: "Marion";
  margin-bottom: 20%;
}

.video {
  width: 50%;
  background: #fff;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
  border-radius: 20px;
  margin-top: 50px;
}

.wrapper {
  max-width: 1200px;
  border-radius: 25px;
  box-shadow: 0px 0px 9px 3px #E4C500;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
}
.wrapper__background {
  background: #fff;
  opacity: 0.6;
  position: absolute;
  width: 120%;
  height: 100%;
  z-index: -1;
}
.wrapper__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

.header {
  max-width: 100%;
  padding: 10px 25px;
  position: relative;
  height: 80px;
}
.header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #eed76d;
  z-index: -1;
  opacity: 0.4;
}
.header__nav {
  max-width: 100%;
}
.header__menu {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__item div img {
  width: 80px;
  height: 30px;
}
.header__link {
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  line-height: 19px;
  color: #FFFBE0;
  text-decoration: none;
}

.main {
  width: 100%;
  padding: 50px 30px 150px 30px;
  overflow: hidden;
}
.main__mark {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #D6B900;
}
.main__nav {
  overflow: hidden;
  box-shadow: 0px 0px 9px 3px rgba(201, 174, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  min-height: 300px;
  background: url(../img/tips.png) center/cover no-repeat;
  margin-bottom: 5%;
}
.main__nav-header {
  padding: 2% 0;
  height: 20%;
  background: rgba(238, 215, 109, 0.4);
  display: flex;
  justify-content: space-between;
}
.main__nav-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  color: #FFFBE0;
  margin-left: 3%;
}
.main__nav-btn {
  position: relative;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  margin-right: 1%;
}
.main__nav-btn span {
  position: absolute;
  content: "";
  height: 33.5px;
  border: 2px solid #fff;
  transform: rotate(45deg);
  background: #fff;
}
.main__nav-btn span:last-of-type {
  transform: rotate(-45deg);
}
.main__nav-container {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 10px;
}
.main__nav-item {
  border: 1px solid rgba(240, 203, 62, 0.4);
  box-shadow: 0px 0px 9px 3px rgba(201, 174, 0, 0.25);
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #d6b900;
  text-decoration: none;
}
.main__forum {
  width: 100%;
  margin-bottom: 10rem;
}
.main__forum:last-child {
  margin-bottom: 0;
}
.main__forum-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 63px;
  text-align: center;
  color: #F9D804;
  opacity: 0.6;
  margin-bottom: 5rem;
}
.main__forum-container {
  border: 1px solid rgba(240, 203, 62, 0.4);
  box-shadow: 0px 0px 9px 3px rgba(201, 174, 0, 0.25);
  border-radius: 15px;
  display: grid;
  border-style: none;
  grid-template-columns: 8fr 1fr 2fr 3fr;
  overflow: hidden;
}
.main__forum-cell {
  border: 2px solid rgba(240, 203, 62, 0.4);
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  padding-top: 1rem;
  color: #F9D804;
}
.main__forum-cell:nth-child(4n+1) {
  padding-top: 0rem;
  padding-left: 1rem;
  justify-content: left;
  text-align: left;
  align-items: center;
}
.main__forum-cell:nth-child(4n) {
  text-align: left;
  padding-left: 1rem;
}
.main__forum-cell:nth-child(13n) {
  padding-bottom: 5rem;
}
.main__forum-subtitle {
  font-weight: 700;
  font-size: 25px;
  color: #F9D804;
  opacity: 0.5;
  padding: 15px 0;
}
.main__forum-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #F9D804;
  opacity: 0.9;
}
.main__forum-subheader {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #DDB834;
}

.subtitle {
  text-align: center;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #EEEBE7;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 32px;
  align-items: center;
}
.hamburger span {
  display: block;
  height: 4px;
  width: 32px;
  background: #fff;
}

.w500n {
  display: block;
}

@media screen and (max-width: 1000px) {
  .video {
    width: 70%;
  }
  .header {
    align-items: center;
    display: flex;
  }
  .header__nav {
    width: 100%;
  }
  .header__menu {
    width: 100%;
  }
  .header__img {
    display: none;
  }
  .header__item div img {
    display: none;
  }
  .header__link {
    font-size: 18px;
  }
  .hamburger {
    display: flex;
  }
  .main__nav-title {
    font-size: 24px;
    line-height: 24px;
  }
  .main__forum-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .main {
    padding: 50px 10px 150px 10px;
  }
  .main__forum-title {
    font-size: 35px;
    margin-bottom: 2rem;
  }
  .main__forum-subtitle {
    font-size: 18px;
  }
  .main__forum-cell {
    font-size: 15px;
  }
  .main__forum-header {
    font-size: 16px;
  }
  .main__forum-subheader {
    font-size: 13px;
  }
  .main__nav-item {
    font-size: 16px;
  }
  .video {
    margin-top: 20px;
    width: 90%;
  }
  .wrapper {
    margin-top: 20px;
  }
  .main__forum-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main__nav-title {
    font-size: 20px;
    line-height: 20px;
  }
  .main__nav-header {
    align-items: center;
  }
  .main__nav-btn {
    height: 22px;
  }
  .main__nav-btn span {
    height: 22px;
  }
  .main__forum-cell:nth-child(4n) {
    display: none;
  }
  .header {
    padding: 10px;
  }
  .header__link {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .header__menu {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
  }
  .header__link {
    font-size: 12px;
    margin-right: 20px;
  }
  .main {
    padding: 50px 10px 150px 10px;
  }
  .main__forum-title {
    font-size: 35px;
    margin-bottom: 2rem;
  }
  .main__nav-item {
    font-size: 14px;
  }
  .main__forum-container {
    grid-template-columns: 1fr;
    overflow: visible;
  }
  .main__nav-btn {
    height: 16px;
  }
  .main__nav-btn span {
    height: 16px;
  }
  .main__nav-container {
    margin: 1rem;
  }
  .main__nav-title {
    font-size: 16px;
    line-height: 16px;
  }
  .main__forum-cell {
    border-right: none;
    border-top: none;
    border-left: none;
  }
  .main__forum-cell:nth-child(13n) {
    border-bottom: none;
  }
  .main__forum-header {
    font-size: 16px;
  }
  .main__forum-subheader {
    font-size: 13px;
  }
  .main__forum-subtitle {
    font-size: 18px;
  }
  .w500n {
    display: none;
  }
  .subtitle {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */
